USE [master]
GO
/****** Object:  Database [TPFinal]    Script Date: 8/11/2022 08:50:11 ******/
CREATE DATABASE [TPFinal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TPFinal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TPFinal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TPFinal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\TPFinal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TPFinal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TPFinal]
GO
/****** Object:  User [alumno]    Script Date: 8/11/2022 08:50:11 ******/
CREATE USER [alumno] FOR LOGIN [alumno] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Color]    Script Date: 8/11/2022 08:50:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Color](
	[IdColor] [int] IDENTITY(1,1) NOT NULL,
	[NombreColor] [varchar](50) NOT NULL,
	[FotoColor] [varchar](1000) NOT NULL,
	[IdTela] [int] NOT NULL,
 CONSTRAINT [PK_Color] PRIMARY KEY CLUSTERED 
(
	[IdColor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 8/11/2022 08:50:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[IdProducto] [int] IDENTITY(1,1) NOT NULL,
	[NombreProducto] [varchar](100) NULL,
	[FotoProducto] [varchar](1000) NOT NULL,
	[IdTela] [int] NOT NULL,
	[IdColor] [int] NOT NULL,
	[FechaDeIngreso] [date] NOT NULL,
	[CantidadDisponible] [int] NOT NULL,
	[Peso] [float] NOT NULL,
 CONSTRAINT [PK_Modelo] PRIMARY KEY CLUSTERED 
(
	[IdProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tela]    Script Date: 8/11/2022 08:50:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tela](
	[IdTela] [int] IDENTITY(1,1) NOT NULL,
	[NombreTela] [varchar](50) NOT NULL,
	[FotoTela] [varchar](1000) NOT NULL,
	[Precio] [float] NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[IdTela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 8/11/2022 08:50:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Clave] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Color] ON 

INSERT [dbo].[Color] ([IdColor], [NombreColor], [FotoColor], [IdTela]) VALUES (1, N'Azul', N'https://i.ytimg.com/vi/6L4D6Enbvsc/maxresdefault.jpg', 1)
INSERT [dbo].[Color] ([IdColor], [NombreColor], [FotoColor], [IdTela]) VALUES (2, N'Verde', N'https://i.ytimg.com/vi/iNk9yNYIdOw/maxresdefault.jpg', 5)
INSERT [dbo].[Color] ([IdColor], [NombreColor], [FotoColor], [IdTela]) VALUES (3, N'Rojo', N'https://i.ytimg.com/vi/1nYsaP79Dlg/maxresdefault.jpg', 3)
SET IDENTITY_INSERT [dbo].[Color] OFF
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([IdProducto], [NombreProducto], [FotoProducto], [IdTela], [IdColor], [FechaDeIngreso], [CantidadDisponible], [Peso]) VALUES (3, N'Ladrillo', N'Ladrillo.jpg', 3, 3, CAST(N'2022-08-10' AS Date), 5, 22)
INSERT [dbo].[Producto] ([IdProducto], [NombreProducto], [FotoProducto], [IdTela], [IdColor], [FechaDeIngreso], [CantidadDisponible], [Peso]) VALUES (7, N'Chicle', N'Chicle.jpg', 1, 4, CAST(N'2022-10-11' AS Date), 15, 20)
INSERT [dbo].[Producto] ([IdProducto], [NombreProducto], [FotoProducto], [IdTela], [IdColor], [FechaDeIngreso], [CantidadDisponible], [Peso]) VALUES (9, N'Marino', N'Marino.jpg', 5, 1, CAST(N'2022-09-23' AS Date), 3, 21)
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Tela] ON 

INSERT [dbo].[Tela] ([IdTela], [NombreTela], [FotoTela], [Precio]) VALUES (1, N'Interlock', N'interlock.jpg', 4000)
INSERT [dbo].[Tela] ([IdTela], [NombreTela], [FotoTela], [Precio]) VALUES (3, N'Jersey', N'jersey.jpg', 4130)
INSERT [dbo].[Tela] ([IdTela], [NombreTela], [FotoTela], [Precio]) VALUES (4, N'Poliester', N'poliester.jpg', 2500)
SET IDENTITY_INSERT [dbo].[Tela] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario] ON 

INSERT [dbo].[Usuario] ([IdUsuario], [Clave]) VALUES (1, N'Tpfinal')
SET IDENTITY_INSERT [dbo].[Usuario] OFF
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Modelo_Color] FOREIGN KEY([IdColor])
REFERENCES [dbo].[Color] ([IdColor])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Modelo_Color]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Modelo_Producto] FOREIGN KEY([IdTela])
REFERENCES [dbo].[Tela] ([IdTela])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Modelo_Producto]
GO
USE [master]
GO
