<div class="container text-center">   
        <div class="row align-items-start">
            @{
                foreach(Tela item in @ViewBag.ListaTelas)
                {
                <div class="col-3">
                
                    <div class="card Carta">
                        <img src="@item.FotoTela" class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="card-title">@item.NombreTela</div>
                        <div class="col">
                            <a href='@Url.Action("VerDetalleColores","Home", new{IdTela=item.IdTela})'>
                                Ver color 
                            </a>
                        </div>
                        </div>
                    </div>
                    </div>
                }
                
            }
        </div>
</div>