html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("/fondo.jpg");
}

.logo {
    height: 80px;
}

.carrusel{
    margin-top: 1%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 0px;
}

.carta {
    height: 250px;
    width: auto;
}

.bton {
    margin-left: 15%;
}

.agregar {
    margin-top: 2%;
    margin-left: 1%;
}

.cartas {
    margin-top: 3%;
}