html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.logo {
    height: 80px;
}
.carrusel1{
    margin-top: 2.5%;
    text-align: center;
}
.carta{
    height: 250px;
    width: auto;
}
.bton{
    margin-left: 15%;
}
.agregar{
    margin-top: 2%;
    margin-left: 1%;
}